@page
@model SaleRazorPage.Pages.LengthThicknessPrices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LengThicknessPrice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengThicknessPrice.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengThicknessPrice.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengThicknessPrice.IsWholeSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengThicknessPrice.IsWholeSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengThicknessPrice.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengThicknessPrice.Length.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengThicknessPrice.Thickness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengThicknessPrice.Thickness.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
