@page
@model SaleRazorPage.Pages.GridSizes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GridSize</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize.NameUnAccent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize.NameUnAccent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GridSize.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
