@page
@model SaleRazorPage.Pages.Colors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.NameUnAccent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.NameUnAccent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Color.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
